registry=https://artifactory-uw2.adobeitc.com/artifactory/api/npm/npm-freyja-release/
//artifactory-uw2.adobeitc.com/artifactory/api/npm/npm-freyja-release/:_auth=${NPM_AUTH}
//artifactory-uw2.adobeitc.com/artifactory/api/npm/npm-freyja-release/:always-auth=true
//artifactory-uw2.adobeitc.com/artifactory/api/npm/npm-freyja-release/:email=${NPM_EMAIL}
